
.inner_column
  .admin_block
    %h1.form_heading Admin Messsages
    %ul.admin_lists
      -if @admin_messages.blank?
        Nothing to display
      -else
        -@admin_messages.each do |message|
          %li
            =message.message_string
            -case message.subject_class
              -when "User"
                =link_to "#{message.subject_of_message.full_name}", user_path(message.subject_of_message)
              -when "Post"
                =link_to "Review", post_path(message.subject_of_message)
              -when "Comment"
                =link_to "Review", post_path(message.subject_of_message.post)
            |
            = link_to 'Mark Resolved', mark_resolved_admin_message_path(message), method: :post

    = paginate @admin_messages

  .admin_block
    %h1.form_heading Users
    #admin_user_search
      = search_form_for @q, :url => url_for(:action => "index") do |f|
        = hidden_field_tag :as, :q
        = f.text_field :first_name_or_last_name_or_investment_styles_name_or_email_or_business_or_firm_name_cont
        = f.submit "Search", :class => 'button'

    %ul.admin_lists
      -if @users.blank?
        Nothing to display
      -else
        -@users.each do |user|
          %li
            = link_to "#{user.full_name}", user_path(user)
            = ":"
            = user.business
            = "--"
            = "Member since #{user.created_at.to_formatted_s(:long_ordinal)}"

    = paginate @users, param_name: 'page_2'

  .admin_block
    %h1.form_heading Posts
    #posts_search
      = search_form_for @p, :url => url_for(:action => "index") do |f|
        = hidden_field_tag :as, :p
        = f.text_field :title_or_content_or_user_first_name_or_user_last_name_or_tags_name_or_comments_content_cont
        = f.submit "Search", :class => 'button'

    %ul.admin_lists
      -if @posts.blank?
        Nothing to display
      -else
        -@posts.each do |post|
          %li
            = post.updated_at.to_formatted_s(:long_ordinal)
            =":"
            = link_to "#{post.title}", post_path(post)
            = "--"
            = link_to "#{post.user.full_name}", user_path(post.user)
    = paginate @posts, param_name: 'page_3'