.container
  = nested_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    .row
      .span12
        #your_details_button.inner_column
          %p.instructions Please click on the headings below to complete each section of the form
          %p.instructions Required fields: First Name; Last Name; Email; Industry Role; Password; Password Confirmation
          %h1.form_heading 1) Your Details
    .row.your_details
      .span4
        .inner_column
          .field
            = f.label :first_name
            %br/
            = f.text_field :first_name, :autofocus => true
          .field
            = f.label :last_name
            %br/
            = f.text_field :last_name, :autofocus => true
          .field
            = f.label :email
            %br/
            = f.email_field :email, :autofocus => true
          .field
            = f.label :business, "What is your role in the industry?"
            %br/
            =f.select(:business, User::INDUSTRY_INVOLVEMENTS, {include_blank: "Select from list"})
          .field
            = f.label :user_image
            %br/
            = f.file_field :user_image
      .span8
        .inner_column

          .field
            = f.label :biography, "Tell us a little about yourself..."
            %br/
            = f.text_area :biography, :autofocus => true, class: "tinymce"
            = tinymce

    .row
      .span12
        #investment_interests_button.inner_column
          %h1.form_heading 2) Invesment Interests
    .row.investment_interests
      .span12
        .inner_column

          .field
            .investment_styles_list
              %ul
                - User::INVESTMENT_STYLES.each do |key, values|
                  %li
                    %h5
                      = "#{key}"
                    - User::INVESTMENT_STYLES[key].each do |value|
                      .check_box
                        = "#{value}"
                        =f.check_box :investment_style_list, {multiple: true}, "#{value}", nil
                -unless @user_written_tags.blank?
                  %li
                    %h5 Interests added by you
                    -@user_written_tags.each do |interest|
                      .check_box
                        = "#{interest}"
                        = f.check_box :investment_style_list, {multiple: true}, "#{interest}", nil
              %h5
                Anything we've missed (comma separated)?
              =text_field_tag "extra_tags"
    .row
      .span12
        #your_firm_button.inner_column
          %h1.form_heading 3) Your Firm


    .row.your_firm
      .span4
        .inner_column

          .field
            = label_tag :organization_id, "Which firm do you work for?"
            %br/
            = select_tag "organization_id", options_for_select(Firm.all.map{|f| [f.to_string, f.id]}.unshift(["ENTER MANUALLY", ""]).unshift(["Pick a firm or select 'Enter Manually'", ""]), selected: @default), options = {}
          #form_with_firm_fields.form_fields
            =render "fields", f: f
      .span8
        .inner_column
          .field
            = f.label :disclaimer
            %br/
            = f.text_area :disclaimer, :autofocus => true, class: "tinymce"
    .row
      .span12
        #password_section_button.inner_column
          %h1.form_heading 4) Passwords & Sign Up!


    .row.password_section
      .span12
        .inner_column
          .field.sign_up_field
            = f.label :password
            = f.password_field :password
          .field.sign_up_field
            = f.label :password_confirmation
            = f.password_field :password_confirmation
          .field.sign_up_field
            = f.submit "Sign up", class: "custom_button"

