%h2 Sign up
= nested_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!

  %div
    = f.label :first_name
    %br/
    = f.text_field :first_name, :autofocus => true
  %div
    = f.label :last_name
    %br/
    = f.text_field :last_name, :autofocus => true
  %div
    = f.label :email
    %br/
    = f.email_field :email, :autofocus => true
  %div
    = f.label :password
    %br/
    = f.password_field :password
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %div
    = f.label :business
    %br/
    =f.select(:business, ["Investor", "Broker", "Banker", "Journalist", "Corporate"])
  %div
    = f.label :biography
    %br/
    = f.text_area :biography, :autofocus => true
  %div
    = f.label :user_image
    %br/
    = f.text_field :user_image, :autofocus => true
  %div
    = f.label :disclaimer
    %br/
    = f.text_area :disclaimer, :autofocus => true
  %div
    = label_tag :organization_id, "Which firm to you work for?"
    %br/
    = select_tag "organization_id", options_for_select(Firm.all.map{|f| [f.name, f.id]}.unshift(["select from list of enter details below", ""])), options = {}

  %div.form_fields
    =render "fields", f: f
  %div= f.submit "Sign up"
= render "devise/shared/links"