
- if comment.visible_poster_only
  - if ((comment.user == current_user ) || (comment.post.user == current_user)) || (current_user.role == "admin")
    .comments_box
      =comment.content
      %p.wall_text.blue
        ="#{comment.user.full_name}: #{comment.created_at.to_formatted_s(:long_ordinal)}"
      - if can? :edit, comment
        -if current_user == comment.user
          = link_to "Edit", edit_comment_path(comment), remote: true, class: "custom_link alternative"
      - if can? :destroy, comment
        = link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' },  class: "custom_link tone_down"
      -if can? :manage, :all
        - if comment.aasm_state == "inappropriate"
          .admin_inappropriate_comment_reset
            = link_to "Comment OK: Reset Vote", reset_comment_vote_comment_path(id: comment.id), remote: true, method: :post, class: "custom_link admin_button"

      #inappropriate_comment.small_text
        =render partial: 'comments/mark_inappropriate_comment', locals: {comment: comment}

- else
  .comments_box
    =comment.content
    %p.wall_text.blue
      ="#{comment.user.full_name}: #{comment.created_at.to_formatted_s(:long_ordinal)}"
    - if can? :edit, comment
      -if current_user == comment.user
        = link_to "Edit", edit_comment_path(comment), remote: true,  class: "custom_link alternative"
    - if can? :destroy, comment
      = link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "custom_link tone_down"
    -if can? :manage, :all
      - if comment.aasm_state == "inappropriate"
        .admin_inappropriate_comment_reset
          = link_to "Comment OK: Reset Vote", reset_comment_vote_comment_path(id: comment.id), remote: true, method: :post, class: "custom_link admin_button"
    #inappropriate_comment.small_text
      =render partial: 'comments/mark_inappropriate_comment', locals: {comment: comment}

