.row
  .span12
    .inner_column
      %h1.form_heading
        - if @user.business == "Other"
          = @user.full_name
        -else
          = "#{@user.full_name} (#{@user.business})"
      - unless @user.interests_string.blank?
        %h2.walled_user
          Investment Interests:
          = @user.interests_string

.row
  .span6
    .inner_column
      #main_content
        = image_tag @user.user_image.detail.url, class: "detail_image wall_card"
        = raw @user.biography
  .span6
    .inner_column
      -if @user.firm
        #firm_content
          %h2.walled_user
            =@user.firm.name
          ="#{@user.firm.building} #{@user.firm.street_address}"
          =@user.firm.city
          %br
          -if @user.firm.postcode
            =@user.firm.postcode
            %br
          -if @user.firm.country
            =@user.firm.country
            %br
          -unless @user.disclaimer.blank?
            %a.custom_link.tone_down.view_disclaimer Disclaimer Text
        #disclaimer_text
          =raw @user.disclaimer
