.row
  .span12
    .inner_column
      %h1.form_heading
        = @user.full_name
      - unless @user.business = "Other"
        %h3
          =@user.business
      - unless @user.interests_string.blank?
        %h3
          Investment Interests:
          = @user.interests_string

.row
  .span6
    .inner_column

      = image_tag @user.user_image.detail.url, class: "detail_image"
      %br
      =mail_to @user.email
      #main_content
        %h3 Biography
        = raw @user.biography
  .span6
    .inner_column
      -if @user.firm
        %h3 Organization
        %h4
          =@user.firm.name
        ="#{@user.firm.building} #{@user.firm.street_address}"
        =@user.firm.city
        %br
        =@user.firm.postcode
        %br
        =@user.firm.country
      -unless @user.disclaimer.blank?
        .view_disclaimer.small_text
          %a View Disclaimer Text

        #disclaimer_text
          =raw @user.disclaimer
