= form_for(@friendship, remote: true) do |f|
  - if @friendship.errors.any?
    #error_explanation
      %h2
        = pluralize(@friendship.errors.count, "error")
        prohibited this friendship from being saved:
      %ul
        - @friendship.errors.full_messages.each do |msg|
          %li= msg

  - if current_user.id == @friendship.proposer_id
    .field
      = f.label :proposer_sharing_pref, "Please give a sharing preference for #{@proposee.email}"
      %br
      = f.select :proposer_sharing_pref, ['Kindred Spirit', 'Respected Peer', 'Industry Participant']
  - if current_user.id == @friendship.proposee_id
    .field
      = f.label :proposee_sharing_pref, "Please give a sharing preference for #{@proposer.email}"
      %br
      = f.select :proposee_sharing_pref, ['Kindred Spirit', 'Respected Peer', 'Industry Participant']
  =f.hidden_field :proposer_id, {value: @friendship.proposer_id}
  =f.hidden_field :proposee_id, {value: @friendship.proposee_id}
  .actions
  = f.submit