#login_box
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .wrapper
      %div.login_field
        = f.label :email
        = f.email_field :email, :autofocus => true
      %div.login_field
        = f.label :password
        = f.password_field :password

      - if devise_mapping.rememberable?
        %div.login_field
          = f.check_box :remember_me
          = f.label :remember_me
      %br
      %div.login_field
        = f.submit "Sign in", class: "custom_button"
      %div.login_field
        = link_to "Not Registered? Sign up!", new_registration_path(resource_name)