<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sharing_pref %><br />
    <%= f.text_field :sharing_pref %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :colleague_visible %><br />
    <%= f.check_box :colleague_visible %>
  </div>
  <div class="field">
    <%= f.label :non_investor_visible %><br />
    <%= f.check_box :non_investor_visible %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :post_file %><br />
    <%= f.text_field :post_file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
