#button_bar
  %button#new_post.custom_button New Post
#remote_post_form
  = render "form"

#control_bar
  #post_search_form
    = search_form_for @q, remote: true, :url => url_for(:posts_controller => "q", :action => "index") do |f|
      .search_bar_field
        = f.label :title_or_content_or_tags_name_or_comments_content_cont, "Post Content"
        %br
        = f.text_field :title_or_content_or_tags_name_or_comments_content_cont
      .search_bar_field
        = f.label :user_first_name_or_user_last_name_or_user_investment_styles_name_or_user_email_or_user_business_or_user_firm_name_cont, "Author"
        %br
        = f.text_field :user_first_name_or_user_last_name_or_user_investment_styles_name_or_user_email_or_user_business_or_user_firm_name_cont
      .search_bar_field
        = f.label :created_at_gteq, "From"
        %br
        = f.text_field :created_at_gteq, class: "datepicker"
      .search_bar_field
        = f.label :created_at_lteq, "To"
        %br
        = f.text_field :created_at_lteq, class: "datepicker"
      = f.submit "Search", :class => 'button', id: "post_search_form_button"
      %a#clear_form clear?



.row
  .span6
    .post_column
      #users_posts
        %h2 Your Posts
        -if current_user.has_posts?
          %ul
            #users_post_list
              = render partial: 'post', locals: {posts: @user_posts}
        -else
          You don't have any posts
  .span6
    .post_column
      #friends_posts
        %h2 Posts From Your Peers
        - if current_user.has_friends?
          %ul
            #friends_post_list
              = render partial: 'post', locals: {posts: @friends_posts}
        -else
          You do not currently have any friends

