%p#notice= notice

%p
  %b Author:
  = @post.user.full_name
%p
  %b Title:
  = @post.title
%p
  %b Content:
  = raw @post.content


= link_to "Comment", new_comment_path(post_id: @post.id)
|
= link_to 'Edit', edit_post_path(@post)
|
= link_to 'Back', posts_path
%br
-unless @post.user == current_user
  - if @post.has_been_flagged_by(current_user)
    You have flagged this post as inapporpriate
  - else
    = button_to "flag as inappropriate", mark_inappropriate_post_path(@post)

%h3 Comments
-@post.comments.each do |comment|
  - if comment.visible_poster_only
    - if (comment.user == current_user) || (comment.post.user == current_user)
      =comment.content
      -if comment.has_been_flagged_by(current_user)
        You have flagged this comment as inappropriate
      -else
        =button_to "flag comment as inappropriate", mark_inappropriate_comment_path(comment)
  - else
    =comment.content
    -if comment.has_been_flagged_by(current_user)
      You have flagged this comment as inappropriate
    -else
      =button_to "flag comment as inappropriate", mark_inappropriate_comment_path(comment)