%p#notice= notice

.post_title_bar
  %h1
    =@post.title
.row
  .span8
    .post_column
      - if @post.content.blank?
        This post has no content
      -else
        #main_content
          = raw @post.content
      - unless @post.tags.blank?
        %h4
          Tags:
          = @post.tag_string
      .view_disclaimer
        %a View Disclaimer Text
      #disclaimer_text
        = raw @post.user.disclaimer


      %br
      #inappropriate_post
        =render partial: 'posts/mark_inappropriate', locals: {post: @post}


      %h3 Comments

      #remote_comments_form
        = render partial: 'comments_form'
      #post_comments
        = render @post.comments


  .span4
    .post_column
      %h3
        Author:
        = @post.user.full_name
      - unless @post.user.user_image.blank?
        = image_tag @post.user.user_image.thumb.url
        %br
      %h3
        ="Posted: #{@post.created_at.to_formatted_s(:long_ordinal)}"
        %br
        ="Updated: #{@post.updated_at.to_formatted_s(:long_ordinal)}"

      - unless @post.attachments.blank?
        %h5 Attachments:
        %ul
          - @post.attachments.each do |attachment|
            %li
              = attachment.attachment_name

              = link_to "Download", attachment.attachment_name.url

      - if can? :edit, @post
        = link_to 'Edit', edit_post_path(@post)
        %br
        Post sharing level:
        =@post.sharing_pref
        %br
      = link_to 'Back', posts_path


