!!!
%html
  %head
    %title FinancialServicesApp
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans", :rel => "stylesheet", :type => 'text/css'}
    %link{:href => "http://fonts.googleapis.com/css?family=Oxygen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag  "application", :media => "all"
    = stylesheet_link_tag "token-input-facebook"
    = javascript_include_tag "application", "jquery.tokeninput"
    = csrf_meta_tags
  %body

    #title_bar

      .login
        - if current_user
          = current_user.email
          = link_to "Log out", destroy_user_session_path, method: :delete
          %br
        - else
          = link_to "Sign In", new_user_session_path
          = link_to "Register", new_user_registration_path
          %br
        -if current_user
          = "you have #{current_user.number_of_black_balls} black balls"
        -if current_user && current_user.exceeds_black_ball_limit?
          You have received 10 or more black balls within the last 30 days and, therefore, are unable to send friend requests
      %h1.hoot_box
        HootBox
      - if current_user
        #nav
          %ul
            %li
              =link_to "Home", posts_path
            %li
              =link_to "Friends", friends_path
            %li
              =link_to "Find Friends", users_path
            %li
              =link_to "Wall of Shame", red_flags_path
            -if current_user
              %li
                =link_to "My Profile", user_path(current_user)
              %li
                =link_to "Edit Profile", edit_user_registration_path
              -if can? :manage, :all
                %li
                  =link_to "Site Admin", admin_messages_path
      -else
        %p.introduction Intellectual content from your global network of investment professionals

    -unless current_user


      =yield
      .container.landing_page





        .row
          .span6
            #user_tag_cloud
              .human_capital
                %h1 HUMAN
          .span6
            #post_tag_cloud
              .human_capital
                %h1 CAPITAL



    -if current_user
      .container
        = yield
    #friend_requests
    #incoming_friend_request