!!!
%html
  %head
    %title FinancialServicesApp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    -if current_user
      = "you have #{current_user.number_of_black_balls} black balls"
    -if current_user && current_user.exceeds_black_ball_limit?
      You have received 10 or more black balls within the last 30 days and, therefore, are unable to send friend requests
    .login
      - if current_user
        = current_user.email
        = link_to "Log out", destroy_user_session_path, method: :delete
      - else
        = link_to "Sign In", new_user_session_path
        = link_to "Register", new_user_registration_path
    = yield